In [18]:
print('Hello World!')
print('Hello World!')
a=1
a
type(a)
a="hello world"
type(a)

Hello World!
Hello World!

str

In [19]:
a

'hello world'

In [20]:
a.upper()

'HELLO WORLD'

In [21]:
a.title()

'Hello World'

In [22]:
a.lower()

'hello world'

In [23]:
a[4]

'o'

In [24]:
a[1:3]

'el'

In [25]:
len(a)

11

In [26]:
a.count('l')

3

In [29]:
a.find('ell')

1

In [30]:
a.find('k')

-1

In [31]:
a.find('y')

-1

In [32]:
a.count('x')

0

In [34]:
a[0:4].find('l')

2

In [73]:
a=[1,23,6,"heelo",True]

In [38]:
type(a)

list

In [43]:
type(a[3])

str

In [69]:
a[3::-1]

['heelo', 6, 23, 1]

In [77]:
a.index(True)

0

In [54]:
a

'hello'

In [55]:
a[::-1]

'olleh'

In [56]:
a[::-2]

'olh'

In [78]:
s="abcd"

In [135]:
s= "abcd"
e= "wxyz"
user="ba"
user_index=s.find(user)

In [138]:
def encode(user):
    temp="";
    for char in user:
        for c in s:
            if(char==c):
                temp+=e[s.find(c)];
    return temp

In [139]:
print(encode("abaa"))

wxww

In [112]:
a=[ "hello", "my", "name"]
for item in a:
    print(item)

hello
my
name

In [125]:
a[0]+a[1]

'hellomy'

In [132]:
def mySum(s1,s2):
    return s1+s2;

In [10]:
import pandas as pd
df=pd.DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]})
print(df)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [11]:
df.dtypes

a    int64
b    int64
c    int64
dtype: object

In [12]:
df['a'].astype(str)

0    1
1    2
2    3
Name: a, dtype: object

In [13]:
df.dtypes

a    int64
b    int64
c    int64
dtype: object

In [19]:
df[df['a']<2] & df[df['b']<3]

    a   b   c
0 NaN NaN NaN

In [29]:
df=pd.read_csv('physician_rx.csv')
print(df)

    PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0   AP1912920        0.0           50            510        152           0
1   AP1350415     2370.0         1320             60       1416        2676
2   AP0129322        0.0           85              0          0         144
3   AP0462902       30.0          570              0        128        3900
4   AP3185026        0.0           40           1080          0           0
5   AP3674571       70.0           40              0         64           0
6   AP0126982        0.0          135              0          0           0
7         NaN      150.0          315            270        184          36
8   AP1807651        0.0          650              0          0         300
9   AP0728371        0.0            0              0          0           0
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
12  AP1883103        0.0          225            240          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
15  AP2443797        0.0           25              0         72          48
16  AP0036951      330.0          525              0          0           0
17  AP3200230        0.0          135              0          0           0
18  AP0139724        0.0           85            360          0         480
19  AP2166075        0.0           70              0          0          36
20        NaN        0.0           20              0          0          48
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
24  AP2214740        0.0           90              0          0           0
25  AP0857188        0.0          130              0          0         588
26        NaN      150.0          220            510         32        1128
27  AP1874350        0.0            0             75          0           0
28  AP3209293        0.0           55            465          0           0
29  AP0089696      930.0          250           3435          0         396
..        ...        ...          ...            ...        ...         ...
70  AP0683877       50.0           90            240          0           0
71  AP0118925      160.0          375              0        240           0
72  AP2152296        0.0           40              0          0         324
73  AP1343639       10.0           45              0         24         528
74  AP1869077     1830.0          140              0        488          72
75  AP2196115        0.0            0              0          0         384
76  AP1230067      110.0           70              0          0           0
77  AP2014650        0.0           60              0          0          60
78  AP2281620        0.0          255              0          0          36
79  AP1336198      150.0          615              0          0           0
80  AP0849708        0.0           90           3495          0           0
81  AP2113896       20.0           30              0          0           0
82  AP1834639      270.0         1240             60         40          60
83  AP0455565        0.0          105            810         24        1896
84  AP0849030        0.0           80            525          0          24
85  AP0478796      630.0          240            150          0          96
86  AP3589376        0.0          135              0          0          72
87  AP2459335      320.0          320              0        256          12
88  AP0812453        NaN           45              0          0         264
89  AP0433841      120.0           65              0          0           0
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

[100 rows x 6 columns]

In [35]:
df.tail

<bound method NDFrame.tail of     PHYSICIAN  CroMax_RX  GlycoMax_RX  AllergyMax_RX  FevMax_RX  ColdMax_RX
0   AP1912920        0.0           50            510        152           0
1   AP1350415     2370.0         1320             60       1416        2676
2   AP0129322        0.0           85              0          0         144
3   AP0462902       30.0          570              0        128        3900
4   AP3185026        0.0           40           1080          0           0
5   AP3674571       70.0           40              0         64           0
6   AP0126982        0.0          135              0          0           0
7         NaN      150.0          315            270        184          36
8   AP1807651        0.0          650              0          0         300
9   AP0728371        0.0            0              0          0           0
10  AP1934892      640.0          390              0        280           0
11  AP1595288      160.0           35             45          0           0
12  AP1883103        0.0          225            240          0           0
13  AP1365782      400.0           15            255        704         444
14        NaN       90.0          150              0          0         204
15  AP2443797        0.0           25              0         72          48
16  AP0036951      330.0          525              0          0           0
17  AP3200230        0.0          135              0          0           0
18  AP0139724        0.0           85            360          0         480
19  AP2166075        0.0           70              0          0          36
20        NaN        0.0           20              0          0          48
21  AP1332969       90.0          870              0         88          24
22  AP2130355      160.0          145              0          0         180
23  AP0714887      160.0          780            615         16        2964
24  AP2214740        0.0           90              0          0           0
25  AP0857188        0.0          130              0          0         588
26        NaN      150.0          220            510         32        1128
27  AP1874350        0.0            0             75          0           0
28  AP3209293        0.0           55            465          0           0
29  AP0089696      930.0          250           3435          0         396
..        ...        ...          ...            ...        ...         ...
70  AP0683877       50.0           90            240          0           0
71  AP0118925      160.0          375              0        240           0
72  AP2152296        0.0           40              0          0         324
73  AP1343639       10.0           45              0         24         528
74  AP1869077     1830.0          140              0        488          72
75  AP2196115        0.0            0              0          0         384
76  AP1230067      110.0           70              0          0           0
77  AP2014650        0.0           60              0          0          60
78  AP2281620        0.0          255              0          0          36
79  AP1336198      150.0          615              0          0           0
80  AP0849708        0.0           90           3495          0           0
81  AP2113896       20.0           30              0          0           0
82  AP1834639      270.0         1240             60         40          60
83  AP0455565        0.0          105            810         24        1896
84  AP0849030        0.0           80            525          0          24
85  AP0478796      630.0          240            150          0          96
86  AP3589376        0.0          135              0          0          72
87  AP2459335      320.0          320              0        256          12
88  AP0812453        NaN           45              0          0         264
89  AP0433841      120.0           65              0          0           0
90  AP1947403        0.0          240              0          8         156
91  AP0189854        0.0           70            720          0           0
92  AP3883979        0.0          255              0          0         132
93  AP0390218        0.0          105            180         40           0
94  AP2286280        0.0            0              0          0         144
95  AP1957774      390.0           15              0         16          36
96  AP1273998      480.0          630              0          0           0
97  AP1228990        0.0            0              0          0         180
98  AP1881803        0.0           10              0          0           0
99  AP4772804       10.0            0              0          0           0

[100 rows x 6 columns]>

In [38]:
df.rename(columns={"PHYSICIAN":"phy"}, inplace=True)

In [40]:
df.columns.str.replace("Max","max")

Index(['phy', 'Cromax_RX', 'Glycomax_RX', 'Allergymax_RX', 'Fevmax_RX',
       'Coldmax_RX'],
      dtype='object')

In [41]:
df['new_column']=100

In [48]:
df2 = pd.DataFrame({'a': [1, 2, 1, 2, 3], 'b': [5, 6, 3, 6, 7]})

In [50]:
df2

   a  b
0  1  5
1  2  6
2  1  3
3  2  6
4  3  7

In [49]:
df2.duplicated(keep=False)

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [46]:
df2

   a  b
0  1  5
1  2  6
2  1  5
3  2  6
4  3  7

In [51]:
df2[~df2.duplicated(keep='first')]

   a  b
0  1  5
1  2  6
2  1  3
4  3  7

In [54]:
df.sort_values(by='CroMax_RX')

,phy,CroMax_RX,GlycoMax_RX,AllergyMax_RX,FevMax_RX,ColdMax_RX,new_column
0,AP1912920,0.0,50,510,152,0,100
27,AP1874350,0.0,0,75,0,0,100
28,AP3209293,0.0,55,465,0,0,100
30,AP0481633,0.0,340,45,280,0,100
72,AP2152296,0.0,40,0,0,324,100
32,AP0406810,0.0,110,1230,0,36,100
34,AP0445910,0.0,105,30,0,24,100
35,AP0779390,0.0,60,0,0,0,100
36,AP2215776,0.0,345,0,0,252,100
37,AP0694081,0.0,110,0,0,144,100
38,AP1895556,0.0,0,15,0,36,100
75,AP2196115,0.0,0,0,0,384,100
69,AP1811449,0.0,85,0,88,564,100
41,AP4321151,0.0,0,0,0,204,100
63,AP2010286,0.0,175,210,0,0,100
43,AP0162284,0.0,45,0,0,696,100
62,AP0794316,0.0,205,1245,0,0,100
45,AP1983160,0.0,45,780,0,0,100
46,AP0126647,0.0,210,0,0,180,100
47,AP2141780,0.0,65,0,0,288,100
98,AP1881803,0.0,10,0,0,0,100
61,AP1816314,0.0,65,0,0,300,100
60,AP1336947,0.0,275,0,0,324,100
66,AP2940337,0.0,255,45,48,0,100
52,AP0727498,0.0,20,75,0,120,100
25,AP0857188,0.0,130,0,0,588,100
77,AP2014650,0.0,60,0,0,60,100
97,AP1228990,0.0,0,0,0,180,100
2,AP0129322,0.0,85,0,0,144,100
94,AP2286280,0.0,0,0,0,144,100
...,...,...,...,...,...,...,...
68,AP1822470,120.0,330,1200,0,504,100
89,AP0433841,120.0,65,0,0,0,100
55,AP3632706,140.0,380,165,32,0,100
56,AP1871832,140.0,345,0,0,36,100
59,AP1815618,140.0,110,0,24,0,100
79,AP1336198,150.0,615,0,0,0,100
7,NaN,150.0,315,270,184,36,100
26,NaN,150.0,220,510,32,1128,100
23,AP0714887,160.0,780,615,16,2964,100
22,AP2130355,160.0,145,0,0,180,100
71,AP0118925,160.0,375,0,240,0,100
11,AP1595288,160.0,35,45,0,0,100
53,AP1976314,170.0,495,0,200,24,100
82,AP1834639,270.0,1240,60,40,60,100
87,AP2459335,320.0,320,0,256,12,100
16,AP0036951,330.0,525,0,0,0,100
40,AP0438309,370.0,85,0,0,780,100
95,AP1957774,390.0,15,0,16,36,100
13,AP1365782,400.0,15,255,704,444,100
96,AP1273998,480.0,630,0,0,0,100
85,AP0478796,630.0,240,150,0,96,100
10,AP1934892,640.0,390,0,280,0,100
29,AP0089696,930.0,250,3435,0,396,100
57,AP0092627,1360.0,1090,210,24,192,100
74,AP1869077,1830.0,140,0,488,72,100
1,AP1350415,2370.0,1320,60,1416,2676,100
33,AP0464297,NaN,405,0,0,36,100
48,AP1948690,NaN,105,690,8,0,100
65,AP2102094,NaN,220,0,432,216,100
88,AP0812453,NaN,45,0,0,264,100

In [55]:
df2

   a  b
0  1  5
1  2  6
2  1  3
3  2  6
4  3  7

In [58]:
df2.rank(method='average')

     a    b
0  1.5  2.0
1  3.5  3.5
2  1.5  1.0
3  3.5  3.5
4  5.0  5.0